$yellow: #ffff00;
$black: black;

$text-shadow: $black;
$text-color: $yellow;
$border-color: $yellow;

header {
  border-top: 5vw solid $border-color;
  border-bottom: 5vw solid $border-color;
}

main {
  border-left: 5vw solid $border-color;
  border-right: 5vw solid $border-color;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: $text-color;
  text-shadow: -1px $text-shadow, 0 1px $text-shadow, 1px 0 $text-shadow, 0 -1px $text-shadow;
}

pre {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: $text-color;
}
