html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 1rem;
  background-color: $background-color;
  color: $foreground-color;
  font: $font-stack;
}

label {
  font-size: 1.5rem;
}

pre {
  .preview {
    color: red;
  }

  .saved {
    color: red;
  }
}
