@import "theme";
@import "./vendor/normalize";

body {
  background-color: $color-one;
  color: $color-two;
}

input {
  background-color: $color-three;
  margin: 0 auto;
}

pre {
  text-align: center;
}
